.footer-logo {
    width: 40px;
    height: 40px;
}



    /* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(255,0,0,1) 100%);
    animation: effect 2s linear infinite; 
}

@keyframes effect { 
    0%{
        background:linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(255,0,0,1) 100%);
    }
    50% { 
        background: linear-gradient(90deg, rgb(0, 255, 213) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgb(0, 255, 213) 100%);
        -webkit-background-clip: text; 
    } 

    100% { 
        background: linear-gradient(90deg, rgb(51, 255, 0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgb(51, 255, 0) 100%);
        -webkit-background-clip: text; 
    } 
}  */



.about-image {
    max-width: 500px;
    height: 300px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.size {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 200px) {
    #Sliding_image {
        width: 100%;
        height: 40px;
    }
    #shift {
        padding-left: 40px;
    }
    .size {
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 414px) {
    #Sliding_image {
        width: 100%;
        height: 60px;
    }
    #shift {
        padding-left: 60px;
    }
    .size {
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    #Sliding_image {
        width: 100%;
        height: 130px;
    }
    #shift {
        padding-left: 0px;
    }
    .size {
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}